
<meta charset="utf-8" />
<link rel="icon" type="image/png" href="/img/coffee.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Email cafe - Email temporaire</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Email cafe vous propose une fausse adresse mail temporaire et anonyme. Ce mail jetable et gratuit vous aidera à contrer le spam. Adresse email jetable anti-spam.">
<meta name="keywords" content="mail, email, jetable, anonyme, temporaire, valide, mail, poubelle, ephemere, provisoire, gratuit, e-mail, bidon, fausse, faux, spam, anti-spam, antispam">

<!-- Bootstrap core CSS     -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!--  Light Bootstrap Dashboard core CSS    -->
<link href="/css/light-bootstrap-dashboard.css" rel="stylesheet"/>

<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="/css/demo.css" rel="stylesheet" />


<!--     Fonts and icons     -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="/css/pe-icon-7-stroke.css" rel="stylesheet" />
