<!DOCTYPE html>
<html lang="fr" class="h-full">
  <head>
    <%- include('head.ejs') %>
  </head>
  <body class="h-full bg-custom">
    <div class="flex min-h-full flex-col justify-center py-8 sm:px-6 lg:px-8">
      <div class="text-white font-medium">
        <span>Service d'e-mail temporaire</span>
      </div>
      <div class="flex flex-col justify-center flex-1 mt-8 sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="flex justify-center">
          <img class="w-36" src="img/coffee.png">
        </div>
        <div class="font-bold mt-4 text-xl text-center text-white text-medium">
          E-mail Café
        </div>
        <div class="py-8 px-4">
          <form class="space-y-6" action="/" method="POST">
            <div class="flex w-full h-12 rounded-lg border border-2 border-transparent focus-within:border-black">
              <input type="text" name="login" id="email" class="block w-full min-w-0 flex-1 rounded-none rounded-l-md border-white sm:text-sm px-4 outline-none border-none">
              <label for="email" class="inline-flex items-center bg-white rounded-r-md px-3 text-black sm:text-sm">@e-mail.cafe</span>
            </div>

            <div class="flex items-center justify-between text-center">
              <div class="text-sm text-white">
                En utilisant ce service, vous acceptez les
                <a
                  href="/cgu"
                  class="font-medium underline hover:text-black"
                  >conditions générales d'utilisation</a
                >
              </div>
            </div>

            <div>
              <button
                type="submit"
                class="flex w-full justify-center rounded-full border border-1 border-white py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-white hover:text-black focus:outline-none focus:ring-1 focus:ring-white focus:ring-offset-1"
              >
                Valider
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="flex justify-between text-white">
        <div class="flex">
          <a href="/about" class="mr-5 hover:text-black">Coment utiliser ce service ?</a>
          <a href="/cgu" class="hover:text-black">Conditions Générales d'Utilisation</a>
        </div>
        <div class="flex items-center">
          &copy; 2018 - <script>document.write(new Date().getFullYear())</script>
          <a href="/" class="ml-5 hover:text-black">E-mail Café</a>
        </div>
      </div>
    </div>
  </body>
</html>
